.wrapper {
    width: 310px;
}

.content {
    text-align: center;
}

.apply,
.cancel {
    position: relative;
    min-height: 48px;
    border-top: 1px solid var(--background-gray-color-12);
    cursor: pointer;

    & > * {
        position: absolute;
        inset: 0;

        display: flex;
        justify-content: center;
        align-items: center;
    }
}
